@model Article
@{
    var actionName = ViewContext.RouteData.Values["action"].ToString();

    if (actionName == "ArticleContent")
    {
        actionName = "_ContentLayout";
    }

    //Layout = "~/Views/Shared/_ContentLayout.cshtml";
    ViewData["Title"] = "Game Inspector";
}
<!doctype html>
<html class="no-js" lang="zxx">



<body>

    <div id="main-wrapper">

        <!--Page Banner Area Start-->
        <div class="page-banner-area" style="background-image: url(/lib/assets/images/bg/page-bg.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="page-content text-center">
                            <h1>KINGS OF THE <br> WARRIORS</h1>
                            <a class="df-btn" href="#">Buy now</a>
                            <ul class="page-breadcrumb">
                                <li><a href="index.html">Home</a></li>
                                <li>Blog</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Page Banner Area End-->
        <!--Blog Area Start-->
        <div class="blog-details-area section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-xs-50">
            <div class="container">
                <div class="row row-25">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-12">
                                <div class="blog-details">
                                    <div class="blog-img">
                                        <a href="single-blog.html"><img src="~/lib/assets/images/blog/blog-details-1.jpg" alt=""></a>
                                        <div class="meta-box">
                                            <ul class="meta meta-border-bottom">
                                                <li><a href="#">Smith</a></li>
                                                <li>15 Devember, 2018 </li>
                                                <li><a href="#">25 Comments</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="blog-content">
                                        <h3>latest version of angry birds released in 2019</h3>
                                        <p><strong>Need for Sped</strong> rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally tances occur in which toil and pain can procure him some great pleasure pleasure rationally encounter sequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain itsuse it is pain, but because occasionally circumstances occur in which toil and pain can procure </p>
                                        <p>Rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally tances occur in which toil and pain can procure him some great pleasure pleasure rationally encounte</p>
                                        <blockquote class="blockquote mt-30 mb-30">
                                            <p>Rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because  nally tances occur in which toil and pain can procure </p>
                                        </blockquote>
                                        <p>Rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or ues or desires to obtain pain of itself, because it is pain, but because occasionally tances occur in which toil and pain can procure him some great pleasure pleasure rationally encounte</p>
                                        <div class="blog-tags">
                                            <h5>Tags:</h5>
                                            <a href="#">Games</a>
                                            <a href="#">Playstation</a>
                                            <a href="#">Xbox</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="blog-comment-wrap col">
                                <h4>Comments</h4>
                                <ul class="comment-list">
                                    <li>
                                        <div class="single-comment">
                                            <div class="image"><img src="~/lib/assets/images/blog/comment-1.jpg" alt=""></div>
                                            <div class="content">
                                                <h5>sannai smith</h5>
                                                <div class="review-date">
                                                    <span>30 Janurary, 2018</span>
                                                    <a href="#" class="reply">Reply</a>
                                                </div>
                                                <p>Ationally encounter consequences that are extremely painful. Nor again is there me anyone who loves or pursues or desires to obtain pain</p>
                                            </div>
                                        </div>
                                        <ul class="children">
                                            <li>
                                                <div class="single-comment">
                                                    <div class="image"><img src="~/lib/assets/images/blog/comment-2.jpg" alt=""></div>
                                                    <div class="content">
                                                        <h5>Alica Nicolus</h5>
                                                        <div class="review-date">
                                                            <span>13 December, 2018</span>
                                                            <a href="#" class="reply">Reply</a>
                                                        </div>
                                                        <p>Ationally encounter consequences that are extremely painful. Nor again is there me anyone who loves or pursues or desires to obtain pain</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <div class="single-comment">
                                            <div class="image"><img src="~/lib/assets/images/blog/comment-1.jpg" alt=""></div>
                                            <div class="content">
                                                <h5>Lisa Rose</h5>
                                                <div class="review-date">
                                                    <span>10 December, 2018</span>
                                                    <a href="#" class="reply">Reply</a>
                                                </div>
                                                <p>Ationally encounter consequences that are extremely painful. Nor again is there me anyone who loves or pursues or desires to obtain pain</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <h4>Leave a reply</h4>
                                <form action="#" class="comment-form">
                                    <div class="row">
                                        <div class="col-md-6 col-12 mb-30">
                                            <input type="text" name="name" placeholder="Name">
                                        </div>

                                        <div class="col-md-6 col-12 mb-30">
                                            <input type="email" name="email" placeholder="Email">
                                        </div>

                                        <div class="col-12 mb-30">
                                            <textarea name="message" placeholder="Message"></textarea>
                                        </div>

                                        <div class="col-12">
                                            <input type="submit" value="send now">
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="sidebar-area mt-sm-60 mt-xs-50">
                            <!--Single Sidebar Widget Start-->
                            <div class="single-sidebar-widget mb-45">
                                <h3>featured games</h3>
                                <div class="single-featured-game mb-20">
                                    <div class="game-img">
                                        <a href="#"><img src="~/lib/assets/images/banner/sidebar-banner1.jpg" alt=""></a>
                                        <a class="game-title" href="#">the killer</a>
                                    </div>
                                </div>
                                <div class="single-featured-game mb-20">
                                    <div class="game-img">
                                        <a href="#"><img src="~/lib/assets/images/banner/sidebar-banner2.jpg" alt=""></a>
                                        <a class="game-title" href="#">muscle cars</a>
                                    </div>
                                </div>
                            </div>
                            <!--Single Sidebar Widget End-->
                            <!--Single Sidebar Widget Start-->
                            <div class="single-sidebar-widget mb-45">
                                <h3>follow us</h3>
                                <div class="sidebar-social">
                                    <ul>
                                        <li><a class="facebook" href="#"><i class="icofont-facebook"></i></a></li>
                                        <li><a class="youtube" href="#"><i class="icofont-youtube-play"></i></a></li>
                                        <li><a class="instagram" href="#"><i class="icofont-instagram"></i></a></li>
                                        <li><a class="twitter" href="#"><i class="icofont-twitter"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!--Single Sidebar Widget End-->
                            <!--Single Sidebar Widget Start-->
                            <div class="single-sidebar-widget mb-45">
                                <h3>popular/recomended</h3>
                                <div class="popular-game mb-20">
                                    <div class="game-img">
                                        <a href="#"><img src="~/lib/assets/images/banner/sidebar-banner3.jpg" alt=""></a>
                                    </div>
                                    <div class="game-content">
                                        <h3><a href="#">Splinter cell</a></h3>
                                        <span>pc/xbox/ps4</span>
                                    </div>
                                </div>
                                <div class="popular-game mb-20">
                                    <div class="game-img">
                                        <a href="#"><img src="~/lib/assets/images/banner/sidebar-banner4.jpg" alt=""></a>
                                    </div>
                                    <div class="game-content">
                                        <h3><a href="#">battle field 4</a></h3>
                                        <span>pc/xbox/ps4</span>
                                    </div>
                                </div>
                            </div>
                            <!--Single Sidebar Widget End-->
                            <!--Single Sidebar Widget Start-->
                            <div class="single-sidebar-widget mb-45">
                                <h3>recent post</h3>
                                <div class="sidebar-rc-post">
                                    <ul>
                                        <li>
                                            <div class="rc-post-thumb">
                                                <a href="#"><img src="~/lib/assets/images/rc-img/rc-img1.jpg" alt=""></a>
                                            </div>
                                            <div class="rc-post-content">
                                                <h3><a href="#">latest update of the new version</a></h3>
                                                <div class="widget-date">05 November, 2018</div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="rc-post-thumb">
                                                <a href="#"><img src="~/lib/assets/images/rc-img/rc-img2.jpg" alt=""></a>
                                            </div>
                                            <div class="rc-post-content">
                                                <h3><a href="#">Crew in the earth get new season</a></h3>
                                                <div class="widget-date">08 November, 2018</div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="rc-post-thumb">
                                                <a href="#"><img src="~/lib/assets/images/rc-img/rc-img3.jpg" alt=""></a>
                                            </div>
                                            <div class="rc-post-content">
                                                <h3><a href="#">secrect code for the Mortal Kombat 4</a></h3>
                                                <div class="widget-date">05 November, 2018</div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="rc-post-thumb">
                                                <a href="#"><img src="~/lib/assets/images/rc-img/rc-img4.jpg" alt=""></a>
                                            </div>
                                            <div class="rc-post-content">
                                                <h3><a href="#">need for speed have new challenge</a></h3>
                                                <div class="widget-date">02 November, 2018</div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!--Single Sidebar Widget End-->
                            <!--Single Sidebar Widget Start-->
                            <div class="single-sidebar-widget mb-45">
                                <div class="sidebar-banner">
                                    <a href="#"><img src="~/lib/assets/images/banner/banner2.jpg" alt=""></a>
                                </div>
                            </div>
                            <!--Single Sidebar Widget End-->
                            <!--Single Sidebar Widget Start-->
                            <div class="single-sidebar-widget">
                                <h3>follow us</h3>
                                <div class="sidebar-instagram">
                                    <ul>
                                        <li><a href="#"><img src="~/lib/assets/images/instagram/instagram1.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="~/lib/assets/images/instagram/instagram2.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="~/lib/assets/images/instagram/instagram3.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="~/lib/assets/images/instagram/instagram4.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="~/lib/assets/images/instagram/instagram5.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="~/lib/assets/images/instagram/instagram6.jpg" alt=""></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!--Single Sidebar Widget End-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Blog Area End-->

    </div>

</body>


<!-- Mirrored from demo.hasthemes.com/gilbard-preview/gilbard/single-blog.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 01 Feb 2021 14:35:23 GMT -->
</html>