@model List<Article>

@{
    var count = Model.Count;
}
<!doctype html>
<html class="no-js" lang="zxx">


<body>
    <style>
        .boranAga {
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            word-wrap: break-word;
        }
    </style>

    <div id="main-wrapper">

        <!--slider section start-->
        <div class="hero-section section position-relative">
            <div class="hero-slider-three">
                <!--Single Hero Item-->
                @foreach (var item in ViewBag.Art)
                {
                    <div class="single-hero-item">
                        <img src="~/img/@item.CoverPhotoPath" alt="" width="350" height="250">
                    </div>
                }
            </div>
        </div>
        <!--slider section end-->
        <!--Upcoming Game section start-->
        <div class="upcoming-game section pb-100 pb-lg-55 pb-md-50 pb-sm-55 pb-xs-25">
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <div class="col-lg-3">
                        <div class="upcoming-game-area">
                            <h2>upcoming <br> games</h2>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="upcoming-game-slider">
                            @foreach (var item in ViewBag.UpcomingGames)
                            {
                                <div class="single-upcoming-game">
                                    <div class="upcoming-game-img">
                                        <img src="~/img/@item.PhotoPath" alt="">
                                    </div>
                                    <div class="upcoming-game-content">
                                        <h4 style="color: #CC0066">@item.Title</h4><br />
                                        <span style="color:#FFFFFF">@item.Time.ToShortDateString()</span>
                                        <span style="color:#FFFFFF" class="mr-0 ml-30">@item.Platform</span>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Upcoming Game section end-->
    </div>


    <main>
        <section class="p-4 mb-4" style="background:rgba(0,0,0,0.6)">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-12">
                                <!--Section Title Start-->
                                <div class="section-title">
                                    <h2>latest <span class="color-blue">post</span></h2>
                                    <ul class="nav categorie-tab-menu">
                                        <li><a class="active" data-toggle="tab" href="#all">all</a></li>
                                        <li><a data-toggle="tab" href="#football">football</a></li>
                                        <li><a data-toggle="tab" href="#adventure">adventure</a></li>
                                        <li><a data-toggle="tab" href="#racing">racing</a></li>
                                        <li><a data-toggle="tab" href="#fighting">fighting</a></li>
                                        <li><a data-toggle="tab" href="#pazzle">pazzle</a></li>
                                    </ul>
                                </div>
                                <!--Section Title End-->
                            </div>
                        </div>
                        <div class="row row-7">
                            <div class="tab-content">
                                <div id="all" class="tab-pane fade show active">
                                    <div class="row row-7" id="scrollPage" style="color:#C0C0C0; font-weight: bold;">
                                        <!--Javascript code below-->
                                    </div>
                                </div>
                                <div id="football" class="tab-pane fade">
                                    <div class="row row-7">
                                        <div class="col-md-6">
                                            <!--Single Blog Post Start-->
                                            <div class="single-blog-post mb-30">
                                                <div class="blog-img">
                                                    <a href="single-blog.html"><img src="~/lib/assets/images/blog/blog-1.jpg" alt=""></a>
                                                </div>
                                                <div class="blog-content">
                                                    <h3><a href="single-blog.html">hidden secret of the elder scroll</a></h3>
                                                    <p>Some of hiden secret of the  Elder Scroll is the most popular are ames that your can Latest Mega 2019 games offer you ioous league and also alow you to make smile and enjoy the game maek it easy</p>
                                                    <ul class="meta">
                                                        <li><a href="#">Smith</a></li>
                                                        <li>15 Devember, 2018 </li>
                                                        <li><a href="#">25 Comments</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!--Single Blog Post End-->
                                        </div>
                                        <div class="col-md-6">
                                            <!--Single Blog Post Start-->
                                            <div class="single-blog-post mb-30">
                                                <div class="blog-img">
                                                    <a href="single-blog.html"><img src="~/lib/assets/images/blog/blog-4.jpg" alt=""></a>
                                                </div>
                                                <div class="blog-content">
                                                    <h3><a href="single-blog.html">spyro have some new tricks for experts</a></h3>
                                                    <p>Some of hiden secret of the  Elder Scroll is the most popular are ames that your can Latest Mega 2019 games offer you ioous league and also alow you to make smile and enjoy the game maek it easy</p>
                                                    <ul class="meta">
                                                        <li><a href="#">Jack</a></li>
                                                        <li>15 Devember, 2018 </li>
                                                        <li><a href="#">112 Comments</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!--Single Blog Post End-->
                                        </div>
                                        <div class="col-md-6">
                                            <!--Single Blog Post Start-->
                                            <div class="single-blog-post mb-30">
                                                <div class="blog-img">
                                                    <a href="single-blog.html"><img src="~/lib/assets/images/blog/blog-5.jpg" alt=""></a>
                                                </div>
                                                <div class="blog-content">
                                                    <h3><a href="single-blog.html">carabians pairets war</a></h3>
                                                    <p>Some of hiden secret of the  Elder Scroll is the most popular are ames that your can Latest Mega 2019 games offer you ioous league and also alow you to make smile and enjoy the game maek it easy</p>
                                                    <ul class="meta">
                                                        <li><a href="#">Michel</a></li>
                                                        <li>05 Devember, 2018 </li>
                                                        <li><a href="#">209 Comments</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!--Single Blog Post End-->
                                        </div>
                                        <div class="col-md-6">
                                            <!--Single Blog Post Start-->
                                            <div class="single-blog-post mb-30">
                                                <div class="blog-img">
                                                    <a href="single-blog.html"><img src="~/lib/assets/images/blog/blog-6.jpg" alt=""></a>
                                                </div>
                                                <div class="blog-content">
                                                    <h3><a href="single-blog.html">four new stages unlok for diablo</a></h3>
                                                    <p>Some of hiden secret of the  Elder Scroll is the most popular are ames that your can Latest Mega 2019 games offer you ioous league and also alow you to make smile and enjoy the game maek it easy</p>
                                                    <ul class="meta">
                                                        <li><a href="#">Stephen</a></li>
                                                        <li>02 Devember, 2018 </li>
                                                        <li><a href="#">32 Comments</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!--Single Blog Post End-->
                                        </div>
                                        <div class="col-md-6">
                                            <!--Single Blog Post Start-->
                                            <div class="single-blog-post mb-30">
                                                <div class="blog-img">
                                                    <a href="single-blog.html"><img src="~/lib/assets/images/blog/blog-2.jpg" alt=""></a>
                                                </div>
                                                <div class="blog-content">
                                                    <h3><a href="single-blog.html">new version of the game released very soon</a></h3>
                                                    <p>Some of hiden secret of the  Elder Scroll is the most popular are ames that your can Latest Mega 2019 games offer you ioous league and also alow you to make smile and enjoy the game maek it easy</p>
                                                    <ul class="meta">
                                                        <li><a href="#">Richard</a></li>
                                                        <li>13 Devember, 2018 </li>
                                                        <li><a href="#">15 Comments</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!--Single Blog Post End-->
                                        </div>
                                        <div class="col-md-6">
                                            <!--Single Blog Post Start-->
                                            <div class="single-blog-post mb-30">
                                                <div class="blog-img">
                                                    <a href="single-blog.html"><img src="~/lib/assets/images/blog/blog-3.jpg" alt=""></a>
                                                </div>
                                                <div class="blog-content">
                                                    <h3><a href="single-blog.html">new action, new move, fast control</a></h3>
                                                    <p>Some of hiden secret of the  Elder Scroll is the most popular are ames that your can Latest Mega 2019 games offer you ioous league and also alow you to make smile and enjoy the game maek it easy</p>
                                                    <ul class="meta">
                                                        <li><a href="#">Kaissha</a></li>
                                                        <li>10 Devember, 2018 </li>
                                                        <li><a href="#">49 Comments</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!--Single Blog Post End-->
                                        </div>
                                    </div>
                                </div>
                                <div id="adventure" class="tab-pane fade">
                                    <div class="row row-7">
                                        <div class="col-md-6">
                                            <!--Single Blog Post Start-->
                                            <div class="single-blog-post mb-30">
                                                <div class="blog-img">
                                                    <a href="single-blog.html"><img src="~/lib/assets/images/blog/blog-1.jpg" alt=""></a>
                                                </div>
                                                <div class="blog-content">
                                                    <h3><a href="single-blog.html">hidden secret of the elder scroll</a></h3>
                                                    <p>Some of hiden secret of the  Elder Scroll is the most popular are ames that your can Latest Mega 2019 games offer you ioous league and also alow you to make smile and enjoy the game maek it easy</p>
                                                    <ul class="meta">
                                                        <li><a href="#">Smith</a></li>
                                                        <li>15 Devember, 2018 </li>
                                                        <li><a href="#">25 Comments</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!--Single Blog Post End-->
                                        </div>
                                        <div class="col-md-6">
                                            <!--Single Blog Post Start-->
                                            <div class="single-blog-post mb-30">
                                                <div class="blog-img">
                                                    <a href="single-blog.html"><img src="~/lib/assets/images/blog/blog-2.jpg" alt=""></a>
                                                </div>
                                                <div class="blog-content">
                                                    <h3><a href="single-blog.html">new version of the game released very soon</a></h3>
                                                    <p>Some of hiden secret of the  Elder Scroll is the most popular are ames that your can Latest Mega 2019 games offer you ioous league and also alow you to make smile and enjoy the game maek it easy</p>
                                                    <ul class="meta">
                                                        <li><a href="#">Richard</a></li>
                                                        <li>13 Devember, 2018 </li>
                                                        <li><a href="#">15 Comments</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!--Single Blog Post End-->
                                        </div>
                                        <div class="col-md-6">
                                            <!--Single Blog Post Start-->
                                            <div class="single-blog-post mb-30">
                                                <div class="blog-img">
                                                    <a href="single-blog.html"><img src="~/lib/assets/images/blog/blog-5.jpg" alt=""></a>
                                                </div>
                                                <div class="blog-content">
                                                    <h3><a href="single-blog.html">carabians pairets war</a></h3>
                                                    <p>Some of hiden secret of the  Elder Scroll is the most popular are ames that your can Latest Mega 2019 games offer you ioous league and also alow you to make smile and enjoy the game maek it easy</p>
                                                    <ul class="meta">
                                                        <li><a href="#">Michel</a></li>
                                                        <li>05 Devember, 2018 </li>
                                                        <li><a href="#">209 Comments</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!--Single Blog Post End-->
                                        </div>
                                        <div class="col-md-6">
                                            <!--Single Blog Post Start-->
                                            <div class="single-blog-post mb-30">
                                                <div class="blog-img">
                                                    <a href="single-blog.html"><img src="~/lib/assets/images/blog/blog-6.jpg" alt=""></a>
                                                </div>
                                                <div class="blog-content">
                                                    <h3><a href="single-blog.html">four new stages unlok for diablo</a></h3>
                                                    <p>Some of hiden secret of the  Elder Scroll is the most popular are ames that your can Latest Mega 2019 games offer you ioous league and also alow you to make smile and enjoy the game maek it easy</p>
                                                    <ul class="meta">
                                                        <li><a href="#">Stephen</a></li>
                                                        <li>02 Devember, 2018 </li>
                                                        <li><a href="#">32 Comments</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!--Single Blog Post End-->
                                        </div>
                                        <div class="col-md-6">
                                            <!--Single Blog Post Start-->
                                            <div class="single-blog-post mb-30">
                                                <div class="blog-img">
                                                    <a href="single-blog.html"><img src="~/lib/assets/images/blog/blog-3.jpg" alt=""></a>
                                                </div>
                                                <div class="blog-content">
                                                    <h3><a href="single-blog.html">new action, new move, fast control</a></h3>
                                                    <p>Some of hiden secret of the  Elder Scroll is the most popular are ames that your can Latest Mega 2019 games offer you ioous league and also alow you to make smile and enjoy the game maek it easy</p>
                                                    <ul class="meta">
                                                        <li><a href="#">Kaissha</a></li>
                                                        <li>10 Devember, 2018 </li>
                                                        <li><a href="#">49 Comments</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!--Single Blog Post End-->
                                        </div>
                                        <div class="col-md-6">
                                            <!--Single Blog Post Start-->
                                            <div class="single-blog-post mb-30">
                                                <div class="blog-img">
                                                    <a href="single-blog.html"><img src="~/lib/assets/images/blog/blog-4.jpg" alt=""></a>
                                                </div>
                                                <div class="blog-content">
                                                    <h3><a href="single-blog.html">spyro have some new tricks for experts</a></h3>
                                                    <p>Some of hiden secret of the  Elder Scroll is the most popular are ames that your can Latest Mega 2019 games offer you ioous league and also alow you to make smile and enjoy the game maek it easy</p>
                                                    <ul class="meta">
                                                        <li><a href="#">Jack</a></li>
                                                        <li>15 Devember, 2018 </li>
                                                        <li><a href="#">112 Comments</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!--Single Blog Post End-->
                                        </div>
                                    </div>
                                </div>
                                <div id="racing" class="tab-pane fade">
                                    <div class="row row-7">
                                        <div class="col-md-6">
                                            <!--Single Blog Post Start-->
                                            <div class="single-blog-post mb-30">
                                                <div class="blog-img">
                                                    <a href="single-blog.html"><img src="~/lib/assets/images/blog/blog-1.jpg" alt=""></a>
                                                </div>
                                                <div class="blog-content">
                                                    <h3><a href="single-blog.html">hidden secret of the elder scroll</a></h3>
                                                    <p>Some of hiden secret of the  Elder Scroll is the most popular are ames that your can Latest Mega 2019 games offer you ioous league and also alow you to make smile and enjoy the game maek it easy</p>
                                                    <ul class="meta">
                                                        <li><a href="#">Smith</a></li>
                                                        <li>15 Devember, 2018 </li>
                                                        <li><a href="#">25 Comments</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!--Single Blog Post End-->
                                        </div>
                                        <div class="col-md-6">
                                            <!--Single Blog Post Start-->
                                            <div class="single-blog-post mb-30">
                                                <div class="blog-img">
                                                    <a href="single-blog.html"><img src="~/lib/assets/images/blog/blog-2.jpg" alt=""></a>
                                                </div>
                                                <div class="blog-content">
                                                    <h3><a href="single-blog.html">new version of the game released very soon</a></h3>
                                                    <p>Some of hiden secret of the  Elder Scroll is the most popular are ames that your can Latest Mega 2019 games offer you ioous league and also alow you to make smile and enjoy the game maek it easy</p>
                                                    <ul class="meta">
                                                        <li><a href="#">Richard</a></li>
                                                        <li>13 Devember, 2018 </li>
                                                        <li><a href="#">15 Comments</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!--Single Blog Post End-->
                                        </div>
                                        <div class="col-md-6">
                                            <!--Single Blog Post Start-->
                                            <div class="single-blog-post mb-30">
                                                <div class="blog-img">
                                                    <a href="single-blog.html"><img src="~/lib/assets/images/blog/blog-6.jpg" alt=""></a>
                                                </div>
                                                <div class="blog-content">
                                                    <h3><a href="single-blog.html">four new stages unlok for diablo</a></h3>
                                                    <p>Some of hiden secret of the  Elder Scroll is the most popular are ames that your can Latest Mega 2019 games offer you ioous league and also alow you to make smile and enjoy the game maek it easy</p>
                                                    <ul class="meta">
                                                        <li><a href="#">Stephen</a></li>
                                                        <li>02 Devember, 2018 </li>
                                                        <li><a href="#">32 Comments</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!--Single Blog Post End-->
                                        </div>
                                        <div class="col-md-6">
                                            <!--Single Blog Post Start-->
                                            <div class="single-blog-post mb-30">
                                                <div class="blog-img">
                                                    <a href="single-blog.html"><img src="~/lib/assets/images/blog/blog-3.jpg" alt=""></a>
                                                </div>
                                                <div class="blog-content">
                                                    <h3><a href="single-blog.html">new action, new move, fast control</a></h3>
                                                    <p>Some of hiden secret of the  Elder Scroll is the most popular are ames that your can Latest Mega 2019 games offer you ioous league and also alow you to make smile and enjoy the game maek it easy</p>
                                                    <ul class="meta">
                                                        <li><a href="#">Kaissha</a></li>
                                                        <li>10 Devember, 2018 </li>
                                                        <li><a href="#">49 Comments</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!--Single Blog Post End-->
                                        </div>
                                        <div class="col-md-6">
                                            <!--Single Blog Post Start-->
                                            <div class="single-blog-post mb-30">
                                                <div class="blog-img">
                                                    <a href="single-blog.html"><img src="~/lib/assets/images/blog/blog-4.jpg" alt=""></a>
                                                </div>
                                                <div class="blog-content">
                                                    <h3><a href="single-blog.html">spyro have some new tricks for experts</a></h3>
                                                    <p>Some of hiden secret of the  Elder Scroll is the most popular are ames that your can Latest Mega 2019 games offer you ioous league and also alow you to make smile and enjoy the game maek it easy</p>
                                                    <ul class="meta">
                                                        <li><a href="#">Jack</a></li>
                                                        <li>15 Devember, 2018 </li>
                                                        <li><a href="#">112 Comments</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!--Single Blog Post End-->
                                        </div>
                                        <div class="col-md-6">
                                            <!--Single Blog Post Start-->
                                            <div class="single-blog-post mb-30">
                                                <div class="blog-img">
                                                    <a href="single-blog.html"><img src="~/lib/assets/images/blog/blog-5.jpg" alt=""></a>
                                                </div>
                                                <div class="blog-content">
                                                    <h3><a href="single-blog.html">carabians pairets war</a></h3>
                                                    <p>Some of hiden secret of the  Elder Scroll is the most popular are ames that your can Latest Mega 2019 games offer you ioous league and also alow you to make smile and enjoy the game maek it easy</p>
                                                    <ul class="meta">
                                                        <li><a href="#">Michel</a></li>
                                                        <li>05 Devember, 2018 </li>
                                                        <li><a href="#">209 Comments</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!--Single Blog Post End-->
                                        </div>
                                    </div>
                                </div>
                                <div id="fighting" class="tab-pane fade">
                                    <div class="row row-7">
                                        <div class="col-md-6">
                                            <!--Single Blog Post Start-->
                                            <div class="single-blog-post mb-30">
                                                <div class="blog-img">
                                                    <a href="single-blog.html"><img src="~/lib/assets/images/blog/blog-1.jpg" alt=""></a>
                                                </div>
                                                <div class="blog-content">
                                                    <h3><a href="single-blog.html">hidden secret of the elder scroll</a></h3>
                                                    <p>Some of hiden secret of the  Elder Scroll is the most popular are ames that your can Latest Mega 2019 games offer you ioous league and also alow you to make smile and enjoy the game maek it easy</p>
                                                    <ul class="meta">
                                                        <li><a href="#">Smith</a></li>
                                                        <li>15 Devember, 2018 </li>
                                                        <li><a href="#">25 Comments</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!--Single Blog Post End-->
                                        </div>
                                        <div class="col-md-6">
                                            <!--Single Blog Post Start-->
                                            <div class="single-blog-post mb-30">
                                                <div class="blog-img">
                                                    <a href="single-blog.html"><img src="~/lib/assets/images/blog/blog-2.jpg" alt=""></a>
                                                </div>
                                                <div class="blog-content">
                                                    <h3><a href="single-blog.html">new version of the game released very soon</a></h3>
                                                    <p>Some of hiden secret of the  Elder Scroll is the most popular are ames that your can Latest Mega 2019 games offer you ioous league and also alow you to make smile and enjoy the game maek it easy</p>
                                                    <ul class="meta">
                                                        <li><a href="#">Richard</a></li>
                                                        <li>13 Devember, 2018 </li>
                                                        <li><a href="#">15 Comments</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!--Single Blog Post End-->
                                        </div>
                                        <div class="col-md-6">
                                            <!--Single Blog Post Start-->
                                            <div class="single-blog-post mb-30">
                                                <div class="blog-img">
                                                    <a href="single-blog.html"><img src="~/lib/assets/images/blog/blog-3.jpg" alt=""></a>
                                                </div>
                                                <div class="blog-content">
                                                    <h3><a href="single-blog.html">new action, new move, fast control</a></h3>
                                                    <p>Some of hiden secret of the  Elder Scroll is the most popular are ames that your can Latest Mega 2019 games offer you ioous league and also alow you to make smile and enjoy the game maek it easy</p>
                                                    <ul class="meta">
                                                        <li><a href="#">Kaissha</a></li>
                                                        <li>10 Devember, 2018 </li>
                                                        <li><a href="#">49 Comments</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!--Single Blog Post End-->
                                        </div>
                                        <div class="col-md-6">
                                            <!--Single Blog Post Start-->
                                            <div class="single-blog-post mb-30">
                                                <div class="blog-img">
                                                    <a href="single-blog.html"><img src="~/lib/assets/images/blog/blog-4.jpg" alt=""></a>
                                                </div>
                                                <div class="blog-content">
                                                    <h3><a href="single-blog.html">spyro have some new tricks for experts</a></h3>
                                                    <p>Some of hiden secret of the  Elder Scroll is the most popular are ames that your can Latest Mega 2019 games offer you ioous league and also alow you to make smile and enjoy the game maek it easy</p>
                                                    <ul class="meta">
                                                        <li><a href="#">Jack</a></li>
                                                        <li>15 Devember, 2018 </li>
                                                        <li><a href="#">112 Comments</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!--Single Blog Post End-->
                                        </div>
                                        <div class="col-md-6">
                                            <!--Single Blog Post Start-->
                                            <div class="single-blog-post mb-30">
                                                <div class="blog-img">
                                                    <a href="single-blog.html"><img src="~/lib/assets/images/blog/blog-5.jpg" alt=""></a>
                                                </div>
                                                <div class="blog-content">
                                                    <h3><a href="single-blog.html">carabians pairets war</a></h3>
                                                    <p>Some of hiden secret of the  Elder Scroll is the most popular are ames that your can Latest Mega 2019 games offer you ioous league and also alow you to make smile and enjoy the game maek it easy</p>
                                                    <ul class="meta">
                                                        <li><a href="#">Michel</a></li>
                                                        <li>05 Devember, 2018 </li>
                                                        <li><a href="#">209 Comments</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!--Single Blog Post End-->
                                        </div>
                                        <div class="col-md-6">
                                            <!--Single Blog Post Start-->
                                            <div class="single-blog-post mb-30">
                                                <div class="blog-img">
                                                    <a href="single-blog.html"><img src="~/lib/assets/images/blog/blog-6.jpg" alt=""></a>
                                                </div>
                                                <div class="blog-content">
                                                    <h3><a href="single-blog.html">four new stages unlok for diablo</a></h3>
                                                    <p>Some of hiden secret of the  Elder Scroll is the most popular are ames that your can Latest Mega 2019 games offer you ioous league and also alow you to make smile and enjoy the game maek it easy</p>
                                                    <ul class="meta">
                                                        <li><a href="#">Stephen</a></li>
                                                        <li>02 Devember, 2018 </li>
                                                        <li><a href="#">32 Comments</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!--Single Blog Post End-->
                                        </div>
                                    </div>
                                </div>
                                <div id="pazzle" class="tab-pane fade">
                                    <div class="row row-7">
                                        <div class="col-md-6">
                                            <!--Single Blog Post Start-->
                                            <div class="single-blog-post mb-30">
                                                <div class="blog-img">
                                                    <a href="single-blog.html"><img src="~/lib/assets/images/blog/blog-1.jpg" alt=""></a>
                                                </div>
                                                <div class="blog-content">
                                                    <h3><a href="single-blog.html">hidden secret of the elder scroll</a></h3>
                                                    <p>Some of hiden secret of the  Elder Scroll is the most popular are ames that your can Latest Mega 2019 games offer you ioous league and also alow you to make smile and enjoy the game maek it easy</p>
                                                    <ul class="meta">
                                                        <li><a href="#">Smith</a></li>
                                                        <li>15 Devember, 2018 </li>
                                                        <li><a href="#">25 Comments</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!--Single Blog Post End-->
                                        </div>
                                        <div class="col-md-6">
                                            <!--Single Blog Post Start-->
                                            <div class="single-blog-post mb-30">
                                                <div class="blog-img">
                                                    <a href="single-blog.html"><img src="~/lib/assets/images/blog/blog-2.jpg" alt=""></a>
                                                </div>
                                                <div class="blog-content">
                                                    <h3><a href="single-blog.html">new version of the game released very soon</a></h3>
                                                    <p>Some of hiden secret of the  Elder Scroll is the most popular are ames that your can Latest Mega 2019 games offer you ioous league and also alow you to make smile and enjoy the game maek it easy</p>
                                                    <ul class="meta">
                                                        <li><a href="#">Richard</a></li>
                                                        <li>13 Devember, 2018 </li>
                                                        <li><a href="#">15 Comments</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!--Single Blog Post End-->
                                        </div>
                                        <div class="col-md-6">
                                            <!--Single Blog Post Start-->
                                            <div class="single-blog-post mb-30">
                                                <div class="blog-img">
                                                    <a href="single-blog.html"><img src="~/lib/assets/images/blog/blog-3.jpg" alt=""></a>
                                                </div>
                                                <div class="blog-content">
                                                    <h3><a href="single-blog.html">new action, new move, fast control</a></h3>
                                                    <p>Some of hiden secret of the  Elder Scroll is the most popular are ames that your can Latest Mega 2019 games offer you ioous league and also alow you to make smile and enjoy the game maek it easy</p>
                                                    <ul class="meta">
                                                        <li><a href="#">Kaissha</a></li>
                                                        <li>10 Devember, 2018 </li>
                                                        <li><a href="#">49 Comments</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!--Single Blog Post End-->
                                        </div>
                                        <div class="col-md-6">
                                            <!--Single Blog Post Start-->
                                            <div class="single-blog-post mb-30">
                                                <div class="blog-img">
                                                    <a href="single-blog.html"><img src="~/lib/assets/images/blog/blog-5.jpg" alt=""></a>
                                                </div>
                                                <div class="blog-content">
                                                    <h3><a href="single-blog.html">carabians pairets war</a></h3>
                                                    <p>Some of hiden secret of the  Elder Scroll is the most popular are ames that your can Latest Mega 2019 games offer you ioous league and also alow you to make smile and enjoy the game maek it easy</p>
                                                    <ul class="meta">
                                                        <li><a href="#">Michel</a></li>
                                                        <li>05 Devember, 2018 </li>
                                                        <li><a href="#">209 Comments</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!--Single Blog Post End-->
                                        </div>
                                        <div class="col-md-6">
                                            <!--Single Blog Post Start-->
                                            <div class="single-blog-post mb-30">
                                                <div class="blog-img">
                                                    <a href="single-blog.html"><img src="~/lib/assets/images/blog/blog-6.jpg" alt=""></a>
                                                </div>
                                                <div class="blog-content">
                                                    <h3><a href="single-blog.html">four new stages unlok for diablo</a></h3>
                                                    <p>Some of hiden secret of the  Elder Scroll is the most popular are ames that your can Latest Mega 2019 games offer you ioous league and also alow you to make smile and enjoy the game maek it easy</p>
                                                    <ul class="meta">
                                                        <li><a href="#">Stephen</a></li>
                                                        <li>02 Devember, 2018 </li>
                                                        <li><a href="#">32 Comments</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!--Single Blog Post End-->
                                        </div>
                                        <div class="col-md-6">
                                            <!--Single Blog Post Start-->
                                            <div class="single-blog-post mb-30">
                                                <div class="blog-img">
                                                    <a href="single-blog.html"><img src="~/lib/assets/images/blog/blog-4.jpg" alt=""></a>
                                                </div>
                                                <div class="blog-content">
                                                    <h3><a href="single-blog.html">spyro have some new tricks for experts</a></h3>
                                                    <p>Some of hiden secret of the  Elder Scroll is the most popular are ames that your can Latest Mega 2019 games offer you ioous league and also alow you to make smile and enjoy the game maek it easy</p>
                                                    <ul class="meta">
                                                        <li><a href="#">Jack</a></li>
                                                        <li>15 Devember, 2018 </li>
                                                        <li><a href="#">112 Comments</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!--Single Blog Post End-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="col-md-3">
                        <div class="mb-2 sticky-top" style="top: 10px">
                            <partial name="_RightPartial" />
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
    <!--Blog Area End-->

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">

        var pageSize = 6;
        var pageIndex = 0;

        $(document).ready(function () {
            GetData();

            $(window).scroll(function () {
                if ($(window).scrollTop() ==
                    $(document).height() - $(window).height()) {
                    if (@count !== $(".post-item").length) {
                        GetData();
                    }

                }
            });
        });

        function GetData() {
            $.ajax({
                type: 'GET',
                url: '/Home/GetData',
                data: { "pageindex": pageIndex, "pagesize": pageSize },
                dataType: 'json',
                beforeSend: function () {
                    $("#main-wrapper").append(`<div class="spinner-border d-flex mx-auto" id="progress" role="status">
            <span class="sr-only">Loading...</span>
        </div>`);
                },
                success: function (data) {
                    var element = "";
                    console.log(data)
                    if (data != null) {
                        for (var i = 0; i < data.length; i++) {
                            //var d = new Date();
                            //var curr_date = d.getDate(data[i].time) + "/" + d.getMonth(data[i].time + "1") + "/" + d.getFullYear(data[i].time);

                            element += `<div class="col-md-6 post-item">
                                                        <!--Single Blog Post Start-->
                                                        <div class="single-blog-post mb-30">
                                                            <div class="blog-img">
                                                                <a href="Home/ArticleContent/${data[i].id}"><img src="/img/${data[i].coverPhotoPath}" width="555" height="313" alt=""></a>
                                                            </div>
                                                            <div class="blog-content">
                                                                <h3><a href="single-blog.html" style="color:#CC0066;">${data[i].title}</a></h3>
                                                                <p class="boranAga" style="">${data[i].content}</p>
                                                                <ul class="meta">
                                                                    <li><a href="#">Admin</a></li>

                                                                        <li>${new Date(data[i].time).toLocaleDateString()}</li>
                                                                    <li><a href="#">25 Comments</a></li>
                                                                </ul>
                                                                </div>
                                                            </div>
                                                            <!--Single Blog Post End-->
                                                        </div>`;

                        }

                            setTimeout(function () {
                                $("#scrollPage").append(element)
                            }, 750)
                            pageIndex++;
                    }
                },
                complete: function () {
                    $("#progress").remove()
                },
                error: function () {
                    alert("Error while retrieving data!");
                }
            });
        }






    </script>
    <script>
        $(window).scroll(function () {
            var navbar = document.getElementById("rightBar");
            if (window.pageYOffset >= 696) {
                navbar.classList.add("sticky")
            } else {
                navbar.classList.remove("sticky");
            }
        })
    </script>
</body>


<!-- Mirrored from demo.hasthemes.com/gilbard-preview/gilbard/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 01 Feb 2021 14:34:48 GMT -->
</html>
